

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@600&display=swap');
:root{
  --theme:#d3ad7f;
  --bg2:#2d3032;
  --white: #fff;
  --bg:#010103;
}

*{
  font-family: 'Montserrat', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 1em;
}
::-webkit-scrollbar-track{
  background: transparent;
  border: 1px solid rgba(255,255,255,.3);
}

::-webkit-scrollbar-thumb{
  background: #424242;
}
body{
  background: var(--bg);
  margin: 0;
  padding: 0;
}

.nav{
  position: absolute;
  bottom: 25%;
  right: 40%;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: auto;
}

ul li{
  margin: 0 10%;
  display: inline-block;
}

.nav-links a{
  text-decoration: none;
  color: whitesmoke;
  margin: 0;
  padding: 10px 1px;
  border: 1px transparent var(--white);
}
.nav-links a::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--theme);
  transition: width .3s;
}

.nav-links a:hover::after{
  width: 100%;
  transition: width .3s;
}


.register{
  position: absolute;
  right: 10%;
}

.sign{
  color: var(--white);
  padding: 10px 10px;
  font-weight: bold;
  transition: 0.6s ease;
}

.log{
  color: var(--white);
  padding: 10px 10px;
  font-weight: bold;
  transition: 0.2s ease;

}

.sign:hover{
  color: var(--theme);
  border-bottom:1px solid var(--theme);
}

.log:hover{
  color: var(--theme);
  border-bottom: 1px solid var(--theme);
}

.header{
  position: fixed;
  top: 0; 
  width: 100%;
  height: 20vh;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: .1rem solid var(--theme);
  z-index: 2;
}

.header .logo{
  margin-left: 10%;
  margin: 10px 10%;
}

.header .logo img{
  height: 7rem;
}

.menu{
  position: absolute;
  display: none;
  right: 2%;
}
.menu div{
  width: 25px;
  height: 3px;
  background-color: var(--theme);
  margin: 5px;
  border: 1px solid;
}

.home{
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .home-content{
  margin: 10%;
}

.home .home-content h2{
  margin: 0;
  font-size: 70px;
  color: var(--white);
}

.home .home-content h3{
  margin: 0;
  font-size: 50px;
  color: var(--white);
}

.home .home-content p{
  margin-bottom: 25px;
  margin-top: 5px;
  font-style: italic;
  font-weight:lighter;
  line-height: 1.8;
  color: var(--white);
}

.order-btn{
  text-decoration: none;
  background-color: transparent var(--theme);
  color: var(--white);
  padding: 10px 25px;
  border: 2px solid var(--theme);
}

.order-btn:hover{
  background-color: var(--theme);
}

.headings{ 
  padding: 0 30px 0 5px;
  height: 65px;
  margin-top: 5%;
  margin-left: 10%;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  color: white;
  border-bottom: .1rem solid var(--theme);
}

.about{
  min-height: 100vh;
  padding-top: 5%;
  display: flex;
  background-color: var(--bg2);
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}
.line{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-content{
  margin-top: 10%;
  margin-left: 17%;
  color: var(--white);
  width: 80%;
  line-height: 50px;
}
.about-content p{
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
.about-content h2{
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-img{
  display: grid;
  margin-left: 5%;
  margin-bottom: 10%;
}

.about-img img{
  width: 250px;
  height: auto;
  padding: 10px;
}

.abt-img:first-of-type{
  grid-column: 2 / span 4;
  grid-row: 1 / span 2;
  border-top: 2px solid var(--theme);
  border-right: 2px solid var(--theme);

}

.abt-img:last-of-type{
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  border-bottom: 2px solid var(--theme);
  border-left: 2px solid var(--theme);

}

.product{
  min-height: 100vh;
  padding-top: 5%;
  display: flex;
  background-color: var(--bg);
  background-size: cover;
  background-position: center;
  border-bottom: 3  px solid var(--bg2);
}

.product-content{
  width: 100%;
  margin-top: 1%;
  margin-left: 14%;
}

.product-content .headings{
  margin-bottom: 5rem;
  width: 22rem;
}
div.gallery {
  margin: 5px;
  margin-top: 5px;
  border-radius: 25px;
  float: left;
  height: 400px;
  width: 361px;
}

div.gallery img:hover {
  transform: scale(1.5);
  border: none;
  transition: 0.3s;
}

div.gallery img {
  margin-left: 22%;
  width: 200px; 
  height: auto;
  cursor: pointer;
  transition: transform .2s;
  z-index: 1;
}

div.desc {
  padding: 15px;
  font-size: larger;
  font-weight: bolder;
  color: var(--white);
  text-align: center;
}

.price{
  margin-top: 5px;
  font-size: smaller;
}


.footer{
  background:var(--bg2);
  text-align: center;
}

.footer .credit{
  font-size: 2rem;
  color:#fff;
  font-weight: lighter;
  padding:1.5rem;
}

.credit span{
  color:var(--main-color);
}

@media screen and (max-width:928px) {

  body{
    overflow-x: hidden;
  }

  .nav{
    right: 0%;
    width: 25%;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    width: 100%;
    height: 81vh;
    top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }
  .menu{
    display: block;
    cursor: pointer;
  }
}

.nav-active{
  transform: translatex(0%);
}

.review{
  min-height: 100vh;
  padding-top: 5%;
  display: flex;
  background-color: var(--bg);
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}

.rev-box{
  border: thin solid var(--theme);
}
.review-div{
  display: grid;
  margin: 2% 10% 5% 10%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:10px;
  height: 75vh;
}

.rev-box img{
  display: block;
  margin: 10% auto;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.rev-h3{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 3%;
}

.rev-p{
  text-align: center;
  color: white;
}
.footer{
  min-height: 20vh;
  padding-top: 4%;
  background-color: var(--bg2);
}

.h2-footer{
  font-size: 15px;
  color: white;
}


